<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <form action="/add" method="post">
        <input type="text" name="task" placeholder="タスクを入力してください">
        <button type="submit">追加</button>
        <form action="/update/{{ todo_id }}" method="post">
            <input type="text" name="edited_task" placeholder="編集内容を入力してください">
            <button type="submit">更新</button>
        </form>
    </form>
    
    <ul>
        {% for todo in todos %}
            <li>{{ todo[1] }}
                <form action="/edit/{{ todo[0] }}" method="get">
                    <button type="submit">編集</button>
                </form>
                <form action="/delete/{{ todo[0] }}" method="post">
                    <button type="submit">削除</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>