<head>
    <style>
        form {
            display: inline-block;
            margin-right: 10px; 
        }
        input[type="text"] {
            width: 300px; 
        }
       

    </style>
</head>
<body>
    <h1>やるべきこと</h1>
    <form action="/add" method="post">
        <input type="text" name="task" placeholder="タスク入力">
        <button type="submit">追加</button>
    </form>

    <ul>
        {% for todo in todos %}
            <li>
                {{ todo[1] }}
                <form action="/edit/{{ todo[0] }}" method="get">
                    
                    <button type="submit">変更</button>
                    
                </form>
                <form action="/delete/{{ todo[0] }}" method="post">
                    <button type="submit">削除</button>
                </form>
               
            </li>
        {% endfor %}
    </ul>
</body>
</html>